<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/fonts.css">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/skeleton.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <script src="/assets/feather.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <title>{{ .event }} Questions</title>
    <script> var site = "localhost:8080"; </script>

</head>

<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row" style="margin-top: 5rem">
            <div class="two columns">
                <div>
                    <a href="/">
                        <img id="headerImage" src="/assets/defsec.png"/>
                    </a>
                </div>
                &nbsp;
            </div>
            <div class="six columns" style="margin-left: 0">
                <h2>{{ .event }} Questions</h2>
            </div>

        </div>
