<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>CODY</title>

    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/fonts.css">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/skeleton.css">
    <link rel="stylesheet" href="assets/main.css">
    <link rel="icon" type="image/png" href="assets/favicon.ico">

</head>
<body>

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div class="one-half column" style="margin-top: 5rem">
                <img style="width: 11rem;" src="assets/defsec.png"/>
                <h3>Questions</h3>

                <h6>Note! You should only be here if you're logging in to view questions. You do NOT need to log in to answer questions.</h6>
                <p>

                <!-- Display error
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                {{ if .error }}
                    <div class="error">
                        {{ .error }}
                    </div>
                    <br>
                {{ end }}

                <!-- Login Form
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <form method="POST">
                    <div class="row">
                        <input class="u-full-width" type="text" placeholder="michael.cutshaw" name="username">
                        <input class="u-full-width" type="password" placeholder="Password1!" name="password">
                    </div>
                    <input class="button-primary" type="submit" value="Login">
                </form>


            </div>
        </div>
    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>
