{{ template "head.html" . }}

    <form method="POST">
        <div class="row">
                <label>Ask your question!
                    <input required style="font-weight: normal" class="u-full-width" type="text" minlength="1" maxlength="100" placeholder="Write your question here!" id="text" name="text">
                </label>
            <input class="button-primary" type="submit" value="Ask">
            &nbsp; <i>{{ .message }}</i>
        </div>
    </form>
    {{ if .user }}
    <meta http-equiv="refresh" content="6">
    <h2>Questions</h2>
    {{ range $index, $question := .questions }}
    {{ $question.Ip }} - {{ $question.Time.Format "03:04:05 PM" }}:
    <h4><b>{{ $question.Text }}</b></h4>
    <br>
    {{ end }}
    {{ end }}

{{ template "footer.html" . }}
